/*  import  fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

    body {
        background-color: #FFFFFF;
        text-align: center;
        font-family:'Poppins', sans-serif;
    }
    
    button {
        cursor: pointer;
        outline: none;
        color: #fff;
        width: 160px!important;
        height: 45px;
        outline: none;
        font-size: 18px;
        font-weight: 500;
        border-radius: 6px;
        cursor: pointer;
        flex-wrap: nowrap;
        background: #655DBB;
        border: 2px solid #655DBB;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    button:hover {
        background-color: #fff;
        color:#655DBB
    }
    
    h2 {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 24px;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 30px;
    }
    
    .button-area {
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    input {
        width: 100%;
        padding: 7px 14px;
        border: 2px solid #b6b6bb;
        box-shadow: 0px 0px 95px -20px #3E54AC;
        border-radius: 4px;
        margin-bottom: 10px;
        background-color: #FFFFFF;
        outline: none;
        color: #b6b6bb;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
    }
    
    input:focus {
        border: 2px solid #FFFFFF;
        background-color: #FFFFFF;
        border: 2px solid #c9c8db;
        color: #000;
    }
    
    form {
        color: #000;

    }
    
    form p {
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    form p:nth-child(1){
        margin-top: 10px;
    }

    .panel {
        margin-top: 50px;
        float: none;
    }
    
    @media (min-width: 768px) {
        .panel {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    @media (min-width: 1024px) {
        .panel {
            width: 40%;
            margin-left: auto;
            margin-right: auto;
        }
    }